.historic-images {
    min-height: 80vh;
    margin: 12vh auto 1vw auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: flex-start;
    
}

.historic-images h4 {
    grid-column: span 3;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--green);
}

.img-div {
    margin-bottom: 1vh;
}

.img-div figcaption {
    text-align: center;
    background-color: var(--green);
    color: var(--white);
}

.img-div img {
    object-fit: cover;
    max-width: 33vw;    
}