body {
    position: relative;
    background: linear-gradient(to bottom, var(--black), var(--green));

}

.historic-images {
    min-height: 80vh;
    margin: 12vh auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: flex-start;
}

.historic-images-disappear {
    opacity: 0.1;
}

.historic-images h4 {
    grid-column: span 3;
    margin: 5vw;
    text-align: center;
    color: var(--white);
}

.cb-image {
    object-fit: cover;
    min-height: 20vh;
    max-height: 20vh;
    min-width: 33vw;
    max-width: 33vw;    
}


.zoom-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
    /* z-index: 5; */
    /* transform-origin: center; */
}

.zoom-div {
    display: none;
    margin: 20svh auto 0 auto;
    min-height: fit-content;
    max-width: 100vw;
    position: sticky;
    z-index: 2;
}

.test-show {
    display: flex;
}

.disappear {
    display: none;
}
