.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    background-color: var(--white);
    min-width: 100vw;
    max-width: 100vw;
    max-height: 6vh;
}

.bottom-menu div i {
    color: var(--green);
}

@media screen and (min-width: 700px) {
    .bottom-menu {
        display: none;
    }
}