/* for Each Cabaz style individually*/

/* Cabaz Um */

.cabaz-um, .cabaz-dois, .cabaz-tres, .cabaz-extra {
    margin: 7dvh 2vw;
    display: grid;
    max-width: 100%;
    align-items: center;
}

.cabaz-box {
    display: grid;    
}

.cabaz-name-title {
    font-size: 2rem;
    color: var(--orange);
    /* background-color: var(--white); */
    min-width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 2vh auto;
    /* border: solid red 1px; */

}

.cabaz-content {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 5vw;
    padding: 10vw;
    border: solid var(--green-one) 0.2rem;
    margin: 0 5vw;
    border-radius: 5%;
    color: var(--green);
}

.cabazPrice {
    text-align: center;
    background-color: var(--background-color);
    width: fit-content;
    color: var(--orange);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
}

.cabaz-list {
    display: grid;
    justify-content: center;
}

.add-to-cart-button-number-one,
.add-to-cart-button-number-two,
.add-to-cart-button-number-three {
    background-color: var(--orange);
    color: var(--black);
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: 700;
    padding: 0.5rem;
    /* grid-column-start: 2; */
    margin: 0 auto;
    /* grid-column: span 2; */
    cursor: pointer;
}

.cabaz-item {
    list-style: none;
}

.cabaz-content img, .sugestionsContent div a img {
    max-width: 40vw;
    object-fit: cover;
    /* border: solid red 2px; */
}

.sugestionsTitle {
    margin: 5vh 0 0 0;
    text-align: left;
    font-weight: bold;
    /* text-decoration: underline; */
    color: var(--orange);
    /* background-color: var(--orange); */
    max-width: fit-content;
    padding: 1rem;
    /* border-radius: 1rem 0; */
    font-size: 1.2rem;
}

.sugestionsContent {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* overflow-x: scroll; */
    gap: 5vw;
    padding: 2vw;
    margin: 5vh auto;
}

.sugestionsContent .sugestionsTitle {
    float: left;
}

.sugestionsContent::-webkit-scrollbar,
.sugestionsContent::-webkit-scrollbar-track,
.sugestionsContent::-webkit-scrollbar-thumb {
    display: none;
}

.sugestion {
    border: solid var(--orange) 0.2rem;
    background-color: var(--green-one);
    padding: 0.7rem;
    border-radius: 1rem 0;
    display: grid;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
}

.sugestion a {
    text-decoration: none;
    font-weight: 800;
}

.sugestion a span {
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
}
/*
.sugestion:hover {
    transform: scale(1.1);
} */

/* home page stylesheet */

.image-with-weekly-baskets {
    max-width: 95vw;
    min-height: 100lvh;
    background-image: url("/images/fotosCabazes/cabazes-semana.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    margin: 2rem auto;
}

.cabazes {
    display: grid;
    margin: 2vw;
}

.cabaz-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    margin: 3vh;
}

.cabaz-menu .cabaz-4 {
    grid-column: span 2;
}

.cabazContent {
    font-size: 1rem;
    border: solid var(--orange) 2px;
    border-radius: 1rem 0;
    background-color: var(--green-one);
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    min-width: 100%;
    gap: 3vh;
    padding: 10%;
}

.cabazContent h4 {
    font-weight: bold;
    background-color: transparent;
    color: var(--white);
    padding: 0.3rem;
    min-width: max-content;
    text-transform: uppercase;
}

.cabazContent span {
    background-color: var(--green);
    max-width: fit-content;
    color: var(--white);
    font-weight: bold;
    margin: 0 auto;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.cabaz-menu .photo-div-cabaz img{
    object-fit: cover;
    min-height: 100%;
    max-width: 100%;
    border-radius: 1rem;
}

.cabaz-menu .photo-div-cabaz a {
    text-decoration: none;
}

.title-div h1{
    font-weight: bold;
    /* margin: 5vh 0 0 0; */
    margin: 0;
    max-width: 100%;
    padding: 1.5vh;
    color: var(--white);
    text-align: center;
} 

.cabazes-section-title {
    color: var(--orange);
    text-align: left;
}


@media screen and (min-width: 860px) {

    .cabaz-menu {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 5vw;
        align-items: center;
        margin: 3vh 10vw;
    }
    .cabazContent h4 {
        font-size: 1rem;
        
    }
    /* .cabaz-menu .cabaz-4 {
        grid-column: span 1;
    }  */
    .title-div h1 {
        color: var(--white);
    }
    
}

@media screen and (min-width: 768px) {

    .image-with-weekly-baskets {
            background-size: contain;
        }
}


@media screen and (min-width: 1100px) {  

    .cabaz-um, .cabaz-dois, .cabaz-tres, .cabaz-extra {
        margin: 15vh auto 5vh auto;
        grid-template-columns: repeat(2, 1fr);
        min-height: 80vh;
    }

    .cabaz-box {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .cabaz-name-title {
        margin: 0 auto;
    }

    .cabaz-content {
        border: none;
        font-size: 1rem;
        align-content: flex-start;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        grid-column: span 2;
        min-width: 100%;
    }  

    .add-to-cart-button-number-one,
    .add-to-cart-button-number-two,
    .add-to-cart-button-number-three{
        padding: 1rem;
    }

    .add-to-cart-button-number-one:hover,
    .add-to-cart-button-number-two:hover,
    .add-to-cart-button-number-three:hover {
        transition: 750ms;
        background-color: var(--green);
    }

    .cabaz-content .cabaz-list{
        border: solid var(--orange) 2px;
        border-radius: 1rem;
        font-size: 1rem;
        line-height: 1.2rem;
        color: var(--black);
        padding: 1rem;
        align-items: center;
        text-align: center;
    }

    /* SUGESTIONS  */

    .sugestionsContent {
        margin: 0;
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 1vw;
    }

    .sugestionsTitle {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        color: var(--orange);
        font-weight: bold;
    }

    .sugestion {
        background-color: var(--green-one);
        border: none;
        padding: 1rem;
        align-content: center;
    }

    .sugestion span {
        min-width: 100%;
        font-size: 1.5rem;
    }

    .sugestion span:hover {
        text-decoration: underline;
    }

    .title-div {
        font-weight: bold;
        margin: 5vh auto;
        max-width: 70%;
        text-align: center;
    }

    .hortaDaRia {
        font-size: 2rem;
        color: var(--green-one);
        background-color: var(--white);
        font-weight: bold;
        border-radius: 0;
    }

    .cabazContent {
        min-height: 40vh;
    }

    .cabazContent h4 {
        background-color: transparent;
        color: var(--black);
        border-radius: 0;
        font-size: 1.2rem;
    }

    
}
