.shopping-cart img {
    max-width: 15dvh;
    object-fit: cover;
    border-radius: 1rem 0;
}

.shopping-cart {
    margin: 12vh 0;
    /* border: green solid 1px; */
    display: grid;
    gap: 1rem;
    align-items: center;
}

.box-cart {
    border-bottom: var(--orange) solid 1px;
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 5dvw;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.box-2 {
    display: grid;
    gap: 2dvh
}

.box-2 h3 {
    font-weight: 800;
    font-size: 0.9rem;
    text-decoration: underline;
}

.box-2-child input {
    max-width: 20%;
    border: none;
    outline: none;
    color: var(--black);
    background-color: var(--green-one);
    border-radius: 15%;
    min-height: fit-content;
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 7%;
}

.box-2 :nth-child(2) {
    display: flex;
    justify-content: flex-start;
    gap: 3dvw
}

.box-2 :nth-child(3) {
    display: flex;
    justify-content: flex-start;
    gap: 15dvw;
    align-items: center;
}

.lessOneItemBtn, .oneMoreItemBtn {
    border: none;
    outline: none;
    color: var(--white);
    background-color: var(--black);
    padding: 0.3rem 0.4rem;
    border-radius: 15%;
    font-weight: bold;
    font-size: 0.7rem;
}

.fa-trash-can {
    border: none;
    outline: none;
    color: var(--orange);
    background-color: var(--black);
    border-radius: 15%;
    padding: 0.3rem;
    font-size: 0.7rem;
}
