.cartList {
    display: grid;
    gap: 1rem;
    align-content: start;
    justify-content: center;
    padding: 1rem 0;
    min-height: 80vh;
    margin: 10vh 0;
}

.cartList img {
    max-width: 15dvh;
    object-fit: cover;
    border-radius: 1rem 0;
}

.totalPriceDiv {
    background-color: var(--green-one);
    display: flex;
    border: var(--orange) solid 2px;
    border-radius: 0.5rem;
    padding: 0.2rem;
    font-weight: 800;
    align-items: center;
    max-width: fit-content;
    gap: 0.5rem;
    float: right;
}

.box-cart {
    min-width: 90dvw;
    max-width: 90dvw;
    border-bottom: var(--orange) solid 1px;
    display: flex;
    justify-content: center;    
    align-content: center;
    gap: 5dvw;
    margin: auto;
    padding: 2rem;
    /* ATENTION TO THIS PADDING AND WIDTH'S */
}

.box-2 {
    display: grid;
    gap: 2dvh
}

.box-2 h3 {
    font-weight: 800;
    font-size: 1rem;
    max-width: 100%;
    text-align: left;

}

.box-2 .box-2-child span {
    color: var(--white);
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--green);
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.box-2 :nth-child(2) {
    display: flex;
    justify-content: flex-start; 
    gap: 3dvw
}

.box-2 :nth-child(3) {
    display: flex;
    justify-content: flex-start;
    gap: 15dvw;
    align-items: center;
} 

.fa-trash-can {
    border: none;
    outline: none;
    color: var(--orange);
    background-color: var(--black);
    border-radius: 15%;
    padding: 0.3rem;
    font-size: 0.7rem;
}