.contacts-title {
    color: var(--white);
    background-color: var(--orange);
    width: min-content;
    padding: 0.5rem;
    border-radius: 2rem;
}

.media-and-contacts {
    display: grid;
    gap: 3vh;
    padding: 1rem;
    background-color: var(--gray);
    grid-template-columns: repeat(4, 1fr);
}

.media-and-contacts div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-and-contacts i {
    color: var(--orange);
    background-color: var(--black);
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1rem;
}

.media-and-contacts a {
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
}

.contact, .location {
    grid-column: span 2;
}

.call-cost {
    font-size: 0.6rem;
    grid-column-start: 2;
    color: var(--white);
}

.email, .contact-number {
    color: var(--white);
    /* background-color: var(--green); */
    padding: 0.5rem;
    border-radius: 5rem;
    text-align: center;
}

@media screen and (max-width: 350px) {

    .media-and-contacts {
        grid-template-columns: repeat(1, 1fr);
        margin: 0.5rem;
        align-items: center;
        justify-content: center;
    }

    .media-and-contacts div {
        gap: 0.1rem;
    }
}

@media screen and (min-width: 600px) {

    

}