.media-and-contacts {
    display: grid;
    gap: 3vh;
    background-color: var(--green);
    margin-bottom: 5vh;
    border-radius: 5rem 0 0 0;
}

.media-and-contacts i {
    color: var(--orange);
    background-color: var(--black);
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    font-size: 0.7rem;
}

.media-and-contacts a {
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
}

.contact, .location {
    display: flex;
    align-items: center;
}

.social-media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: fit-content;
    gap: 5vw;
    padding-left: 5vw;
}

.media-and-contacts .footer-head {
    display: grid;
    /* border: solid red 1px; */
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5vw;
    padding-top: 2vh;
}

.media-and-contacts .footer-head h4 {
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.media-and-contacts .footer-head p {
    grid-column: span 2;
    color: var(--white);
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    text-align: center;
}

.line-break {
    background-color: var(--orange);
    border: none;
    outline: none;
    height: 0.5vh;
    width: 100vw;
}

.call-cost {
    /* font-size: 0.6rem; */
    grid-column-start: 2;
    color: var(--white);
}

.footer-end {
    display: grid;
    color: var(--white);
    font-size: 0.7rem;
    padding-left: 5vw;
    letter-spacing: 0.1em;
    gap: 1vh;
}

.footer-end p, .social-media{
    font-weight: 700;
    font-style: oblique;
}

@media screen and (max-width: 350px) {

    .media-and-contacts {
        grid-template-columns: repeat(1, 1fr);
        margin: 0.5rem;
        align-items: center;
        justify-content: center;
    }

    .media-and-contacts div {
        gap: 0.1rem;
    }
}

@media screen and (min-width: 600px) {

    

}