.contacts-title {
    color: var(--white);
    background-color: var(--orange);
    width: min-content;
    padding: 0.5rem;
    border-radius: 2rem;
}

.media-and-contacts {
    display: grid;
    margin: 5vh;
    gap: 3vh;
}

.media-and-contacts div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
}

.media-and-contacts i {
    color: var(--orange);
    background-color: var(--black);
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1rem;
}

.media-and-contacts a, p {
    text-decoration: none;
    cursor: pointer;
    color: var(--black);
}

.call-cost {
    font-size: 0.8rem;
    grid-column-start: 2;
    color: var(--white);
}

.email, .contact-number {
    color: var(--black);
    background-color: var(--green);
    padding: 0.5rem;
    border-radius: 5rem;
    text-align: center;
}

@media screen and (max-width: 350px) {

    .media-and-contacts {
        grid-template-columns: repeat(1, 1fr);
        margin: 0.5rem;
        align-items: center;
        justify-content: center;
    }

    .media-and-contacts div {
        gap: 0.1rem;
    }
}

@media screen and (min-width: 600px) {

    

}