.display-none {
    display: none;
}

.ervas,
.saladas,
.verduras,
.raizes,
.microverdes,
.floresComestiveis,
.leguminosas,
.horticulas,
.ovos,
.sabaoNatural,
.plantasEmVaso,
.compotas,
.cogumelos {
    display: grid;
    gap: 3vw;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100vw;
    padding: 10vh 3lvw;
    justify-content: center;
    /* border: solid red 1px; */
    /* background-color: var(--black); */
    position: static;
}

.section-title {
    grid-column: span 1;
    margin: 0 auto 1rem auto;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--green);
    color: var(--white);
    padding: 0.5rem;
    letter-spacing: 0.2rem;
    border-radius: 1rem 0;
}

.boxItem {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 50vh;
    min-height: 50vh;
    /* max-width: 80lvw; */
    gap: 0.3rem;
    font-size: 1rem;
    font-weight: 700;
    border: solid var(--green-one) 2px;
    background-color: var(--green-hover-img);
    border-radius: 0.5rem;
}

.boxItem h3 {
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--orange);
    grid-column: span 2;
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    min-height: 2.6rem;
    max-width: 90%;
}

.boxItem img {
    grid-column: span 2;
    object-fit: cover;
    min-height: 30lvh;
    max-height: 30lvh;
    max-width: 70lvw;
    min-width: 70lvw;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.boxItem .kiloPrice,
.boxItem .priceToPay {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--black);
}

.boxItem select,
.boxItem input {
    max-width: 70%;
    border-radius: 0.1rem;
    font-size: 0.8rem;
    padding: 0.2rem auto;
    font-weight: bold;
    font-size: 0.8rem;
    border: solid var(--green) 1px;
    color: var(--black);
}

.boxItem select option {
    color: var(--white);
    background-color: var(--black);
    max-width: 50%;
    margin: 0 auto;
    font-weight: 600;
}

.boxItem button {
    background-color: var(--orange);
    border-radius: 0.3rem;
    padding: 0.3rem;
    color: var(--black);
    font-weight: 700;
    letter-spacing: 0.1rem;
    outline: none;
    max-width: 60%;
}

@media screen and (min-width: 700px) {

.ervas,
.saladas,
.verduras,
.raizes,
.microverdes,
.floresComestiveis,
.leguminosas,
.horticulas,
.ovos,
.sabaoNatural,
.plantasEmVaso,
.compotas,
.cogumelos {
    grid-template-columns: repeat(2, 1fr);
    margin: 15vh auto;
    max-width: 80vw;
    padding: 0;
}

.section-title {
    grid-column: span 2;
}

.boxItem img {
    min-height: 30vh;
    max-height: 30vh;
    min-width: 30vh;
    max-width: 30vh;
}

.boxItem h3 {
    font-size: 0.7rem;
    font-weight: bold;
}

.boxItem select {
    min-width: fit-content;
}

.boxItem select:hover {
    cursor: pointer;
}

.boxItem select option:hover {
    color: var(--green-one);
    background-color: var(--white);
    cursor: pointer;
}

.boxItem button {
    min-width: fit-content;
}

.boxItem button:hover {
    color: var(--orange);
    background-color: var(--black);
    cursor: pointer;
    border: solid 2px var(--orange);
}

}

@media screen and (min-width: 1000px) {

    .ervas,
    .saladas,
    .verduras,
    .raizes,
    .microverdes,
    .floresComestiveis,
    .leguminosas,
    .horticulas,
    .ovos,
    .sabaoNatural,
    .plantasEmVaso,
    .compotas,
    .cogumelos {
        grid-template-columns: repeat(4, 1fr);
    }

    .section-title {
        grid-column: span 4;
    }
}
