.webDevSp {
    cursor: pointer;
    text-align: center;
    min-height: fit-content;
    outline: 0;
    /* border: 0; */
    margin-bottom: 6vh
}

.webDevSp a {
    text-decoration: none;
}

.webDevSp .my-name {
    color: var(--orange);
    background-color: var(--white);
    padding: 0.5rem;
    font-weight: 800;
    font-size: small;
    background-color: var(--green);

}

.webDevSp a p .designBy {
    color: var(--white);
}

@media screen and (max-width: 350px) {

    

}