.webDevSp {
    cursor: pointer;
    text-align: center;
    min-height: fit-content;
    outline: 0;
    margin: 0 auto 3vh auto;
    display: flex;
    gap: 2vh;

    color: var(--white);
    font-size: 0.7rem;
}

@media screen and (min-width: 700px) {

    .webDevSp {
        grid-column: span 3;
    }

}