.contactForm {
    margin: 15dvh 3vw 5dvh 3vw;
    display: grid;
    justify-content: center;
    gap: 2rem;
    border: solid var(--green) 0.2rem;
    padding: 1rem;
    border-radius: 0.3rem;
    color: var(--white);
}

.contactForm div:not(.introduction, .clientMessage) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactForm div input {
    /* margin-left: 1rem; */
    min-width: 25vw;
    border-radius: 0.3rem;
    border-color: var(--green);
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: var(--white);
}

.contactForm div input::placeholder, 
.contactForm div textarea::placeholder {
    padding-left: 0.3rem;
}

.contactForm div textarea {
    min-width: 40vw;
    border-radius: 0.3rem;
    border-color: var(--green);
    padding: 0.4rem;
    margin: 0;
    resize: vertical;
    background-color: var(--black);
    color: var(--white);
}

.contactForm div textarea:hover {
    border-color: var(--orange);
}

.contactForm div label span {
    color: var(--orange);
    font-size: 0.8rem;
}

.clientMessage {
    display: grid;
    align-items: center;
    gap: 1rem;
}

.contactForm span {
    color: var(--orange);
    font-size:  0.6rem;
}

.introduction .introductionText {
    color: var(--white);
    text-align: justify;
    font-size: 0.8rem;
}

.btn-info {
    max-width: 30%;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: var(--orange);
    color: var(--white);
    padding: 0.5rem;
    font-weight: 700;
    outline: none;
    border: none;
}

.btn-info:disabled {
    background-color: var(--red);
}

.border {
    border: solid red 2px;
}

.googleMapsLocation {
    max-width: 100vw;
    margin: 5vh auto;
}

.googleMapsLocation iframe{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 700px) {
    
.contactForm {
    margin: 15dvh 20dvw   
}

.introduction .introductionText, .obligationOrErrorMessage {
    text-align: center;
}

.contactForm div:not(.introduction, .clientMessage) {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactForm div  {
    max-width: 40dvw;
    margin: 0 10dvw;
}

.btn-info:hover {
    cursor: pointer;
    background-color: var(--black);
    color: var(--orange);

}

.googleMapsLocation {
    max-width: 80vw;
    min-height: 60dvh;
    margin: 15vh auto;
}

.googleMapsLocation iframe{
    width: 100%;
    height: 60dvh;
}

}