.informations-sec {
    margin-top: 12lvh;
}

.come-see-us,
.website-explanation {
    display: grid;
    gap: 1rem;
    margin: 0 2rem 10svh 2rem;
}

.come-see-us h3, 
.website-explanation h3 {
    text-transform: uppercase;
    text-align: center;
    color: var(--orange);
}

.come-see-us p,
.website-explanation p {
    line-height: 1.5rem;
    color: var(--green);
    font-size: 0.9rem;
    font-weight: 700;
}

.praca-location a,
.create-cabaz a {
    color: var(--orange);
    font-weight: bold;
    cursor: pointer;
}

.termsAndConditionsDiv ul {
    color: var(--green);
    display: grid;
    margin: 0 2rem 0 2rem;
}

.termsConditionsAgreement {
    display: flex;
}   

.termsAndConditionsDiv h5 {
    color: var(--orange);
    text-decoration: underline;
}

.termsAndConditionsAuthorization {
    margin: 0 0.5rem 0 0;
}

.termsConditionsLink {
    color: var(--orange);
}

@media screen and (min-width: 700px) { 
    .informations-sec {
        margin: 12lvh auto 0 auto;
        text-align: center;
        max-width: 60lvw;
    }
}