@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Infant", serif;
    /* font-optical-sizing: auto; */
    /* font-weight: 700; */
    font-style: normal;
}

:root {
    --green: rgb(136, 171, 142, 1);
    --green-one: rgb(175, 200, 173, 1);
    --yellow: rgb(238, 199, 89, 1);
    --orange: rgba(235, 131, 23, 0.6);
    --orange-two: rgba(238, 147, 34, 0.3);
    --red: rgba(216, 63, 49, 1);
    --white: rgb(245, 245, 245, 1);
    --white-two: rgb(245, 245, 245, 0.6);
    --black: rgba(0,0,0,1);
    --gray: rgba(0,0,0,0.5);
    --black-hover-img: rgba(0,0,0,0.6);
    --green-hover-img: rgb(136, 171, 142, 0.3);
    --background-color: rgba(198, 231, 255, 0.5);
    --pastel: rgb(239, 227, 194);
}

.dark-theme {
    --green: ;
    --yellow: ;
    --orange: ;
    --red: ;
}

body {
    position: relative;
    background-color: var(--background-color);
    overflow-x: hidden;
}

header {
    position: initial;
    top: 0;
    left: 0;
    min-width: 100vw;
    max-width: 100vw;
    z-index: 99;
    padding: 0.5rem 0;
    display: grid;
    overflow-x: hidden;
}

.change-header-overflow-x {
    position: fixed;
    overflow-x: initial;
    transition: 1000ms;

}
/* NAVBAR */
.navbar {
    /* background-image: linear-gradient(90deg, var(--green), var(--black)); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    width: 100%;
}

.logo-img-div {
    /* display: grid; */
    display: flex;
    align-items: center;
    padding: 0.2rem;
    max-height: 100%;
}

.logo-img {
    object-fit: contain;
    border-radius: 50%;
    max-height: 7svh;
}

.logo-img-div h1 {
    color: var(--green);
    /* z-index: 100; */
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.logo-img-div a  {
    text-decoration: none;
}

/* ===============MESSAGE WHEN ORDER ARE DISABLE============================ */
/* .disable-orders {
    color: var(--orange);
    padding: 0.5rem;
    border-radius: 0.5rem;
    max-width: fit-content;
    animation: pulse 2s 1s infinite;
    display: none;
} */

/* =======div with cart and hamburguer menu============= */

.cart-and-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* CARRINHO */
.alert {
    background-color: var(--orange);
    color: var(--black);
    max-width: 80dvw;
    border-radius: 1rem;
    padding: 0.3rem;
    z-index: 20;
    max-height: min-content;
    display: none;
    justify-content: center;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    font-size: 0.7rem;
}

.show-alert {
    z-index: 100;
    display: grid;
    position: fixed;
    left: 10vw;
    top: 2vh;
    right: 10vw;
}

.alert button {
    border: solid var(--black) 2px;
    border-radius: 1rem;
    padding: 0.5rem;
    max-width: fit-content;
    margin: 0.5rem auto;
    font-weight: bold;
    background-color: var(--black);
    color: var(--white);
}

.alert button a {
    color: var(--white);
    text-decoration: none;
    font-size: 0.7rem;

}

.alert .cart-changed-message::first-letter {
    text-transform: uppercase;
}

.cart-div{
    position: relative;
    /* border: 1px solid var(--yellow); */
    max-height: max-content;
    display: flex;
    align-items: center;
}

.cart-div .fa-basket-shopping,
.fa-magnifying-glass,
.fa-bars-staggered {
    color: var(--green);
    font-size: 1rem;
    min-height: 100%;
    width: min-content;
    cursor: pointer;
}

.fa-x {
    font-size: 1.5rem;
    position: absolute;
    color: var(--white);
    top: 1rem;
    right: 1rem;
    z-index: 101;
    transition: 500ms;
}


/* =========================================== */
.menu-list {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 100lvw;
    min-height: 100lvh;
    opacity: 0;
    transition: 1200ms;
    z-index: -1;
    padding: 3rem 0;
    background-color: var(--green);
}

.show {
    opacity: 1;
    transition: 1200ms;
    z-index: 100;
}

.menu-list a {
    text-decoration: none;
    color: var(--white);
    border: 0;
    outline: 0;
    font-weight: bold;
    text-transform: uppercase;
}

header .menu-list a li {
    list-style: none;
    /* background-color: var(--green); */
    /* color: var(--white); */
    min-width: 100%;
    text-align: right;
    padding: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    /* border-bottom: var(--orange) solid 2px; */
    font-size: 1.8rem;
}



header .menu-list a li:hover {
    color: var(--orange);
}

.menu-list a li:visited {
    color: var(--black);
    background-color: var(--orange);
    border: 0;
    outline: 0;
}

/* .menu-list li a:hover {
    color: var(--green-one);
} */


/* SEARCH BAR */
.searchBar-div{
    /* background-color: var(--green-hover-img); */
    display: none;
    background-color: var(--green);
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    align-content: flex-start;
    gap: 1rem;
    justify-items: center;
    padding: 20vh 10vw;
    z-index: 100;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.close-searchbar {
    position: absolute;
    margin-top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: var(--white);
    transition: 500ms;

}

.close-searchbar:hover {
    color: var(--orange);
    cursor: pointer;
}

.searchbar-button {
    max-width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border: var(--orange) 0.1rem solid;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--green);
    background-color: var(--white);
}

.searchBarInput {
    min-width: 80%;
    font-size: 1.2rem;
    border: var(--orange) 0.1rem solid;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    color: var(--green);
}

/* WELCOME SECTION */

.welcomeSection {
    margin: 0;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-width: 100vw;
    position: relative;
}

.welcomeSection .title-div {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 85svh;
    max-height: 85svh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    padding: 0;
    margin: 0;
    background-image: url('/images/farm-img-homePage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.welcomeSection .title-div:nth-child(2) {
    background-image: url('/images/farm-img-homePage2.jpg');
}

.welcomeSection .title-div:nth-child(3) {
    background-image: url('/images/farm-img-homePage3.jpeg');
}

.welcomeSection .title-div h1 {
    margin: 0 auto;
    position: absolute;
    bottom: 10vh;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
    border-image: linear-gradient(90deg,  var(--black-hover-img), var(--green-hover-img), var(--black-hover-img)) fill 1;
    width: 100%;
}

.welcomeSection::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: block;
    border: none;
    outline: none;

}

body::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border: none;
    outline: none;

}

body::-webkit-scrollbar-track-piece:end {
    background-color: transparent;

}

body::-webkit-scrollbar:horizontal {
    display: none;

}

body::-webkit-scrollbar:vertical {
    color: transparent;
    height: 1px;
    width: 0.5vw;

}

.article-number {
    border-radius: 1rem;
    background-color: var(--orange);
    color: var(--white);
    padding: 0.4rem;
    /* position: absolute;
    top: -0.2rem;
    left: 1rem; */
    font-weight: bold;
    font-size: 0.9rem;
}

.scrollBehaviorSmooth {
    scroll-behavior: smooth;
}

@media screen and (min-width: 1100px) {


    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: fit-content;
        /* background-color: var(--white); */
    }

    .fa-bars-staggered,
    .fa-x,
    .openMenu,s
    .openMenu::before,
    .openMenu::after {
        display: none;
    }

    /* SEARCH BAR  */

    .fa-magnifying-glass {
        color: var(--green);
        transition: 500ms;
    }

    .fa-magnifying-glass:hover {
        color: var(--orange);
        transition: 500ms;
    }

    .navbar {
        display: flex;
        gap: 1vw;
        align-items: center;
        justify-content: space-between;
    }

    .cart-div .fa-basket-shopping {
        color: var(--green);
    }

    .logo-img {
        max-height: 7lvh;
        cursor: pointer;
    }

    .logo-img-div h1 {
        color: var(--green);
        font-size: 2rem;
    }

    .menu-list {
        position: initial;
        max-width: fit-content;
        right: 0;
        display: flex;
        justify-content: space-between;
        min-width: 60svw;
        min-height: fit-content;
        margin: 0 2vw;
        padding: 0.3rem;
        background-color: transparent;
        opacity: 1;
        z-index: 100;;
    }

    header .menu-list a li {
        background-color: transparent;
        list-style: none;
        color: var(--green);
        text-align: left;
        padding: 0.3rem;
        font-weight: bold;
        cursor: pointer;
        min-width: 0svw;
        border: none;
        font-size: 1rem;
    }

    header .menu-list li {
        background-image: none;

    }

    .welcomeSection {
        display: flex;
        min-width: 100vw;
        min-height: 100vh;
    }

    .welcomeSection .title-div {
        min-width: 33vw;
        max-height: 100vh;
    }

    .welcomeSection .title-div h1 {
        bottom: 50%;
        width: 100%;

    }

    body {
        position: relative;
    }

    .alert {
        max-width: 20vw;
        position: fixed;
        top: 15vh;
        right: 5vw;
        left: 70vw;
        font-size: 1rem;

    }

}

/* @media screen and (min-width: 860px) {

    .menu-list {
        display: flex;
        justify-content: space-between;
        min-width: 60svw;
        margin: 0 2vw;
    }

    header .menu-list a li:hover {
        color: var(--orange)
    }

    .searchBar-div {
        background-color: var(--green-one);

    }

    .fa-bars-staggered,
    .fa-x,
    .openMenu,
    .openMenu::before,
    .openMenu::after {
        display: none;
    }

} */
