body {
    background-image: url('/images/alface-de-fundo.jpg');
    background-position: center;
    background-size: cover;
}

.all-products {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    /* justify-content: space-around; */
    /* margin: 5vh 2vw 10vh 2vw; */
    max-width: 100vw;
    margin-bottom: 10vh;
   
}

.all-products .title-div {
    /* grid-column: span 2; */
    /* background-color: black; */
    color: var(--white);
    background-image: linear-gradient(90deg, var(--green), var(--black));
    border: none;
    outline: none;
}

.all-products div:not(.title-div) {
    text-align: center;
    color: var(--white);
    font-weight: 800;
    padding: 0.5rem;
} 

.all-products img {
    object-fit: contain;
    max-width: 35vw;
    /* max-height: 50%; */
    border-radius: 1rem;
    transition: 1s;
}

.all-products a {
    text-decoration: none;
    color: var(--white);
}

.all-products a p {
    max-width: 75dvw;
    border-radius: 1rem 0;
    color: var(--white);
    background-color: var(--green);
    outline: none;
    padding: 1rem;
    margin: auto;
}



@media screen and (max-width: 350px) {

    .all-products {
        grid-template-columns: repeat(2, 1fr);
    }

    .all-products .title-div {
        grid-column: span 2;
    }


}


@media screen and (min-width: 700px) {

    .all-products {
        grid-template-columns: repeat(4, 1fr);
        margin: 5vh 15vw;
        justify-content: center;
        gap: 0;
    }

    .all-products .title-div {
        grid-column: span 4;
    }

    .section-title {
        grid-column: span 4;
    }

    .all-products a p{
        min-height: 20vh;
        text-align: center;
        color: var(--white);
        background-color: var(--green);
    }

    .all-products div a p:hover {
        background-color: var(--green-one);
        color: var(--black);
    }  

}