.all-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin: 5vh auto 10vh auto;
}

.all-products .title-div {
    grid-column: span 2;
}

.all-products div:not(.title-div) {
    text-align: center;
    color: var(--white);
    font-weight: 800;
    display: grid;
    align-items: center;
    padding: 0.5rem;
}

.all-products img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
    transition: 1s;
}

.all-products a {
    text-decoration: none;
    color: var(--white);
}

.all-products a p {
    border-radius: 1rem 0 1rem 0;
    background-color: var(--green);
    border: none;
    outline: none;
    padding: 0.2rem;
    margin: auto;
    /* font-size: 1rem; */
}

@media screen and (max-width: 350px) {

    .all-products {
        grid-template-columns: repeat(2, 1fr);
    }

    .all-products .title-div {
        grid-column: span 2;
    }


}


@media screen and (min-width: 700px) {

    .all-products {
        grid-template-columns: repeat(4, 1fr);
        margin: 15vh 20vw;
    }

    .all-products .title-div {
        grid-column: span 4;
    }

    .all-products div:not(.title-div) {
        justify-content: center;
        padding: 1rem;
        border: solid var(--orange) 2px;
    }

    .all-products div:not(.title-div):hover {
        border: solid var(--green) 2px;
    }

    .all-products a p {
        background-color: var(--white);
        border: solid var(--green) 2px;
        color: var(--green);
        max-width: 75%;
    }

    .all-products a p:hover {
        border: solid var(--orange) 2px;
        color: var(--orange);
    }

    .all-products


}