.all-products {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    /* justify-content: space-around; */
    /* margin: 5vh 2vw 10vh 2vw; */
    max-width: 100vw;
    margin-bottom: 10vh;
}

.all-products .title-div {
    /* grid-column: span 2; */
}

.all-products div:not(.title-div) {
    text-align: center;
    color: var(--white);
    font-weight: 800;
    display: grid;
    align-items: center;
    padding: 0.5rem;
}

.all-products img {
    object-fit: contain;
    max-width: 35vw;
    /* max-height: 50%; */
    border-radius: 1rem;
    transition: 1s;
}

.all-products a {
    text-decoration: none;
    color: var(--white);
}

.all-products a p {
    max-width: 100%;
    border-radius: 1rem 0;
    color: var(--white);
    background-color: var(--green);
    /* border: solid 2px var(--orange); */
    outline: none;
    padding: 1rem;
    margin: auto;
    /* font-size: 1rem; */
}

.section-title {
    grid-column: span 2;
    margin: 0 auto 1rem auto;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--green);
    color: var(--white);
    padding: 0.5rem;
    letter-spacing: 0.2rem;
    border-radius: 1rem 0;
}

@media screen and (max-width: 350px) {

    .all-products {
        grid-template-columns: repeat(2, 1fr);
    }

    .all-products .title-div {
        grid-column: span 2;
    }


}


@media screen and (min-width: 700px) {

    .all-products {
        grid-template-columns: repeat(4, 1fr);
        margin: 7vh 15vw;
        justify-content: center;
        gap: 2vw;
    }

    .all-products .title-div {
        grid-column: span 4;
    }

    .all-products div:not(.title-div) {
        /* justify-content: center; */
        padding: 1rem;
        border: solid var(--orange) 2px;
    }

    .all-products img {
        max-width: 15vw;
    }

    .all-products div:not(.title-div):hover {
        border: solid var(--green) 2px;
    }

    .all-products a p {
        background-color: var(--white);
        border: solid var(--green) 2px;
        color: var(--green);
        /* max-width: 75%; */
    }

    .all-products a p:hover {
        border: solid var(--orange) 2px;
        color: var(--orange);
    }

    .section-title {
        grid-column: span 4;
    }


}