* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about-us {
    display: grid;
}

.about-us div:first-child {
    display: grid;
    text-align: center;
}

.hortaDaRia {
    font-size: 2rem;
    color: var(--black);
    font-weight: bold;
} 

.about-us-photo {
    margin: 0 auto 5vh auto;
}

.about-us-photo img{
    object-fit: cover;
    max-width: 100vw;
}

.about-us-description {
    text-align: justify;
    display: grid;
    gap: 0.5rem;
    margin: 0 5vw;
}

.about-us-description p {
    color: var(--black);
}

@media screen and (min-width: 700px) {

    .welcome {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .hortaDaRia {
        font-size: 3rem;
        color: var(--black);
        font-weight: bold;
        background-color: var(--yellow);
        border-radius: 1rem;
        padding: 1rem;
    } 

    .about-us-photo img{
        min-width: 50vw;
        max-height: 15rem;
        object-fit: contain;
    }
    
    .about-us-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.5rem;
        /* align-items: center; */
        text-align: justify;
    }
    .about-us-description p{
        color: var(--black);        
    }
}
