.thankYou {
    margin: 0 auto 0 auto;
    min-height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5vh;
}

.thankYou div:first-child {
    font-size: 1rem;
    font-weight: bold;
    color: var(--green);
    line-height: 5vh;
}

.follow-us-message {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
    max-width: 100vw;
    margin: 0 10vw;
}

.follow-us-message p {
    color: var(--orange);
    font-size: 1rem;
    font-weight: 900;
    grid-column: span 3;
}

.follow-us-message i {
    color: var(--orange);
    background-color: var(--black);
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1rem;
}

.follow-us-message a {
    text-decoration: none;
}

.fa-plane {
    /* display: inline-block; */
    /* animation-iteration-count: infinite;
    animation-delay: 1500ms;
    animation-duration: 3000ms;
    animation-direction: normal; */
    animation: 7s linear 0s infinite running slidein;
    font-size: 2rem;
}

@keyframes slidein {
    from {
      /* pushes the sun down past the viewport */
      transform: translateX(-50vw);
    }
    to {
      /* returns the sun to its default position */
      transform: translateX(50vw);
    }
  }

/* MESSAGE AFTER USER SEND ORDER */

.thankYouOrder {
    margin: 10vh auto 0 auto;
    min-height: 75vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 5vh; */
}

.thankYouMessage {
    display: grid;
    text-align: center;
    align-items: center;
    color: var(--green);
    font-weight: bold;
    gap: 0.7rem;
    line-height: 1.5rem;
}

.thankYouMessage p {

}