.video {
    display: grid;
    justify-content: center;
    margin: 12svh auto;
    max-width: 100vw;
}

.video video, .video iframe {
    margin-bottom: 3rem;
    border-radius: 1.5rem;

}
   

@media screen and (min-width: 700px) {
    .video {
        margin-top: 15vh;
    }
    
    .video video, .video iframe {
        width: 60vw;
    }

    .video iframe {
        height: 33.75vw;
    }

}